<launch>
        <arg name="world_file" default="$(find my_turtle)/world/hokey2.world" />

	<node name="stage" pkg="stage_ros" type="stageros" args="$(arg world_file)">
		<remap from="base_scan_1" to="lidar_scan" />
	</node>
        <node name="path_planning_node" pkg="path_planning" type="path_planning_node" output="screen" />
</launch>
